.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    width: 361px;
    height: 46px;
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        // Này là nhấn vào input hiện đỏ lên
        caret-color: var(--primary);
        outline: none;
        border: none;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - 18px);
        width: 1px;
        top: var(--search-top-spacer);
        right: 52px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    // Này là focus nhấn vào input thì nó có viền ngoài cùng màu
    &:focus-within {
        border-color: rgba(234, 83, 28, 0.2);
    }
}
.search-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    right: 52px + 16px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.3);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.custom-login {
    color: red;
}

// Action
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}
.action-btn {
    position: relative;
    display: flex;
    font-size: 2rem;
    margin: 4px 10px;
    color: #161823;
    background-color: transparent;
    cursor: pointer;
}
.badge {
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
